apiVersion: batch/v1
kind: Job
metadata:
  name: gatling
spec:
  template:
    metadata:
      labels:
        app: gatling
    spec:
      restartPolicy: Never
      containers:
      - image: nextmetaphor/alpine-gatling:latest
        imagePullPolicy: Always
        name: gatling
        command: ["/opt/gatling-charts-highcharts-bundle/bin/gatling.sh"]
        args: ["-sf", "user-files", "-s", "sampleapi.SampleAPISimulation"]
        ports:
        env:
        volumeMounts:
          - name: gatling-user-files
            mountPath: /opt/gatling-charts-highcharts-bundle/user-files
          - name: gatling-results
            mountPath: /opt/gatling-charts-highcharts-bundle/results
          - name: gatling-conf
            mountPath: /opt/gatling-charts-highcharts-bundle/conf

      volumes:
      - name: gatling-user-files
        hostPath:
          path: TODO/gatling/user-files
      - name: gatling-results
        hostPath:
          path: TODO/gatling/results
      - name: gatling-conf
        hostPath:
          path: TODO/gatling/conf